@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    line-height: 0;
}

.button-outline {
    border: 2px solid white;
    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 25px;
    transition: 0.2s;
}

.button-outline:hover {
    background-color: white;
    color: #367FA4;
}

@media screen and (max-width: 1010px) {
    .button-outline {
        font-size: 12px;
        padding: 8px 18px;
    }
}

.header__nav {
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 30px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.header__nav__logo {
    height: 55px;
}

.header__nav__button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    line-height: 0;
}

.header__nav__button__image {
    width: 30px;
}

.header__nav__list {
    align-items: center;
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.header__nav__list__item {
    color: #777;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s;
}

.header__nav__list__item.active {
    color: #367FA4;
}

.header__nav__list__item:hover {
    color: #333;
}

.header__nav__list__item-flag {
    cursor: pointer;
    margin-left: 20px;
    width: 30px;
}

.header-helper {
    height: 80px;
}

@media screen and (max-width: 900px) {
    .header__nav {
        padding: 0 20px;
    }

    .header__nav__brand-name {
        font-size: 20px;
    }

    .header__nav__button {
        display: block;
    }

    .header__nav__list {
        align-items: flex-start;
        background-color: white;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.05);
        display: none;
        flex-direction: column;
        gap: 15px;
        left: 0;
        padding: 10px 20px;
        position: absolute;
        top: 80px;
        width: 100%;
    }

    .header__nav__list__item {
        font-size: 14px;
    }

    .header__nav__list__item-flag {
        margin-left: 0;
    }
}

.footer {
    background-color: black;
    color: white;
    padding: 70px 0;
    width: 100%;
}

.footer__wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: auto;
    width: 1100px;
}

.footer__wrapper__info {
    width: 100%;
}

.footer__wrapper__info__title {
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer__wrapper__info__list {
    align-items: center;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.footer__wrapper__info__list__icon {
    width: 30px;
}

.footer__wrapper__info__list__content {
    font-size: 18px;
}

.footer__wrapper__info__social-media {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.footer__wrapper__info__social-media__item {
    width: 50px;
}

.footer__wrapper__location {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.footer__wrapper__location__title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer__wrapper__location__map {
    height: 350px;
    width: 100%;
}

.footer__wrapper__location__address {
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 30px;
    margin-top: 30px;
}

@media screen and (max-width: 1120px) {
    .footer__wrapper {
        width: 800px;
    }
}

@media screen and (max-width: 820px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
    }

    .footer__wrapper__info__content {
        font-size: 14px;
    }

    .footer__wrapper__info__social-media__wrapper {
        gap: 10px;
        justify-content: center;
    }

    .footer__wrapper__info__social-media__item {
        width: 30px;
    }

    .footer__wrapper__info__title {
        font-size: 20px;
    }

    .footer__wrapper__location {
        margin-bottom: 20px;
    }

    .footer__wrapper__info__list {
        margin-bottom: 10px;
    }
    
    .footer__wrapper__info__list__icon {
        width: 20px;
    }

    .footer__wrapper__info__list__content {
        font-size: 14px;
    }

    .footer__wrapper__location__title {
        font-size: 20px;
    }

    .footer__wrapper__location__address {
        font-size: 16px;
        padding: 12px 20px;
    }
}

.whatsapp-icon {
    bottom: 30px;
    border-radius: 50%;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.1);
    position: fixed;
    right: 30px;
    width: 60px;
}