.about {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 50px auto;
    width: 1000px;
}

.about__image {
    width: 300px;
}

.about__content {
    font-size: 16px;
    text-align: justify;
}

@media screen and (max-width: 1050px) {
    .about {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    .about {
        gap: 20px;
        flex-direction: column;
        margin: 20px auto 30px auto;
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .about__image {
        width: 70%;
    }

    .about__content {
        font-size: 12px;
    }
}

.product {
    padding: 100px 0;
    width: 100%;
}

.product-gradient {
    background: linear-gradient(90deg, rgba(54,127,164,1) 0%, rgba(54,127,164,1) 30%, rgba(144,185,59,1) 100%);
    color: white;;
}

.product__wrapper {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 1000px;
}

.product__wrapper__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.product__wrapper__info__title {
    border: 2px solid darkturquoise;
    color: darkturquoise;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    padding: 12px 25px;
}

.product-gradient .product__wrapper__info__title,
.product-gradient .product__wrapper__info__divider {
    border: 2px solid white;
    color: white;
}

.product__wrapper__info__divider {
    background-color: #555;
    border-radius: 10px;
    height: 2px;
    margin: 25px 0;
    width: 100%;
}

.product__wrapper__info__list__item {
    font-size: 20px;
}

.product__wrapper__image {
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .product__wrapper {
        width: 700px;
    }
}

@media screen and (max-width: 750px) {
    .product__wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 95%;
    }

    .product-gradient .product__wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .product {
        padding: 50px 0;
        margin-bottom: 30px;
    }

    .product__wrapper {
        gap: 20px;
    }

    .product__wrapper__info__title {
        font-size: 12px;
        padding: 8px 12px;
    }

    .product__wrapper__info__divider {
        border: 1px solid #777;
        margin: 20px 0;
    }

    .product-gradient .product__wrapper__info__divider {
        border: 1px solid white;
    }

    .product__wrapper__info__list__item {
        font-size: 13px;
    }
}